doctype html
head
    title Welcome to Tahanan!
body
  p Hello, you!

  p Welcome to Tahanan!

  p
    | Thank you for joining us. Feel free to post, view, and share your memories with the growing online community of Tahanan.
    | Your memories of home, Bahrain, are safe with us. We hope you have a wonderful experience!

  p Sign into your account here: #[a(href="http://www.tahanan.org") www.tahanan.org]

  p
    | Disclaimer: You may randomly be chosen to answer a questionnaire regarding your experience of the website, in line with the requirements for the founder's thesis research. We will send the questionnaire to you through either email or facebook.
    | Rest assured, your responses will remain anonymous.

  p If you have any questions or concerns, you may find them at the FAQ page on the website or you may email us at noreply.tahanan@gmail.com

  img(src="http://res.cloudinary.com/higid3pm1/image/upload/v1522678238/assets/logo.png")
  p Copyright ©  2018 Joan Lao, Mike del Castillo, & Mark Perea. All rights reserved.

  Welcome to Tahanan!
